label.label-input-field {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.56);
    span.required {
        color: $error;
    }
}
.cover-form {
    position: relative;
    background: white;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
